[submodule "Source/Extensions/Zonit.Extensions.Ai"]
	path = Source/Extensions/Zonit.Extensions.Ai
	url = https://github.com/Zonit/Zonit.Extensions.Ai
[submodule "Source/Extensions/Zonit.Extensions"]
	path = Source/Extensions/Zonit.Extensions
	url = https://github.com/Zonit/Zonit.Extensions
[submodule "Source/Extensions/Zonit.Extensions.Tenants"]
	path = Source/Extensions/Zonit.Extensions.Tenants
	url = https://github.com/Zonit/Zonit.Extensions.Tenants
[submodule "Source/Extensions/Zonit.Extensions.Projects"]
	path = Source/Extensions/Zonit.Extensions.Projects
	url = https://github.com/Zonit/Zonit.Extensions.Projects
[submodule "Source/Extensions/Zonit.Extensions.Organizations"]
	path = Source/Extensions/Zonit.Extensions.Organizations
	url = https://github.com/Zonit/Zonit.Extensions.Organizations
[submodule "Source/Extensions/Zonit.Extensions.Identity"]
	path = Source/Extensions/Zonit.Extensions.Identity
	url = https://github.com/Zonit/Zonit.Extensions.Identity
[submodule "Source/Extensions/Zonit.Extensions.Cultures"]
	path = Source/Extensions/Zonit.Extensions.Cultures
	url = https://github.com/Zonit/Zonit.Extensions.Cultures
[submodule "Source/Extensions/Zonit.Extensions.Databases"]
	path = Source/Extensions/Zonit.Extensions.Databases
	url = https://github.com/Zonit/Zonit.Extensions.Databases
[submodule "Source/Extensions/Zonit.Extensions.Tenants"]
	path = Source/Extensions/Zonit.Extensions.Tenants
	url = https://github.com/Zonit/Zonit.Extensions.Tenants
[submodule "Source/Extensions/Zonit.Extensions.Ai"]
	path = Source/Extensions/Zonit.Extensions.Ai
	url = https://github.com/Zonit/Zonit.Extensions.Ai
[submodule "Source/Extensions/Zonit.Extensions"]
	path = Source/Extensions/Zonit.Extensions
	url = https://github.com/Zonit/Zonit.Extensions
[submodule "Source/Services/Zonit.Services.EventMessage"]
	path = Source/Services/Zonit.Services.EventMessage
	url = https://github.com/Zonit/Zonit.Services.EventMessage
[submodule "Source/Services/Zonit.Services.Dashboard"]
	path = Source/Services/Zonit.Services.Dashboard
	url = https://github.com/Zonit/Zonit.Services.Dashboard
[submodule "Source/Plugins/Zonit.Plugins"]
	path = Source/Plugins/Zonit.Plugins
	url = https://github.com/Zonit/Zonit.Plugins
