[submodule "libs/Zonit.Extensions.Ai"]
    path = libs/Zonit.Extensions.Ai
    url = https://github.com/Zonit/Zonit.Extensions.Ai

[submodule "libs/Zonit.Services.Dashboard"]
    path = libs/Zonit.Services.Dashboard
    url = https://github.com/Zonit/Zonit.Services.Dashboard

[submodule "libs/Zonit.Extensions"]
    path = libs/Zonit.Extensions
    url = https://github.com/Zonit/Zonit.Extensions

[submodule "libs/Zonit.Extensions.Tenants"]
    path = libs/Zonit.Extensions.Tenants
    url = https://github.com/Zonit/Zonit.Extensions.Tenants

[submodule "libs/Zonit.Extensions.Databases"]
    path = libs/Zonit.Extensions.Databases
    url = https://github.com/Zonit/Zonit.Extensions.Databases

[submodule "libs/Zonit.Extensions.Cultures"]
    path = libs/Zonit.Extensions.Cultures
    url = https://github.com/Zonit/Zonit.Extensions.Cultures

[submodule "libs/Zonit.Services.EventMessage"]
    path = libs/Zonit.Services.EventMessage
    url = https://github.com/Zonit/Zonit.Services.EventMessage

[submodule "libs/Zonit.Plugins"]
    path = libs/Zonit.Plugins
    url = https://github.com/Zonit/Zonit.Plugins

[submodule "libs/Zonit.SDK"]
    path = libs/Zonit.SDK
    url = https://github.com/Zonit/Zonit.SDK

[submodule "libs/Zonit.Core"]
    path = libs/Zonit.Core
    url = https://github.com/Zonit/Zonit.Core

[submodule "libs/Zonit.Extensions.Identity"]
    path = libs/Zonit.Extensions.Identity
    url = https://github.com/Zonit/Zonit.Extensions.Identity

[submodule "libs/Zonit.Extensions.Organizations"]
    path = libs/Zonit.Extensions.Organizations
    url = https://github.com/Zonit/Zonit.Extensions.Organizations

[submodule "libs/Zonit.Extensions.Projects"]
    path = libs/Zonit.Extensions.Projects
    url = https://github.com/Zonit/Zonit.Extensions.Projects

[submodule "libs/Documentation"]
    path = libs/Documentation
    url = https://github.com/Zonit/Documentation
